* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar,
.navbar a {
  color: #ecf2ef;
  background: #6920b0;
}

.banner {
  height: 400px;
  background-image: url(images/code.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.bloque {
  width: 100%;
  height: auto;
  border-top: 1px solid black;
  padding: 2em;
}

#title {
  text-align: center;
}

#perfil-logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

footer {
  color: #ecf2ef;
  background: #6920b0;
  padding: 1em;
}

.barra {
  background-color: #ddd;
  /* Grey background */
}

.skills {
  text-align: right;
  /* Right-align text */
  padding: 10px;
  /* Add padding */
  color: white;
  /* White text color */
  background-color: #6920b0;
}

.html {
  width: 90%;
}

.css {
  width: 80%;
}

.js {
  width: 65%;
}

.img-fluid:hover {
  opacity: 20%;
}