<header>
    <nav class="navbar">
        <a href="#" class="arg-logo"><img src="./assets/images/argprog.png" width="20%" height="20%" alt="arg-logo"></a>
        <a href="#" class="proyectos">Proyectos</a>
        <a href="#" class="sobre-mi">Sobre mí</a>
        <a href="#" class="contacto">Contacto</a>
        <button type="button" class="btn btn-primary"><img src="./assets/images/login2.png" width="25px" height="25px"
                alt="login">Log in</button>
    </nav>
    <div class="banner">
  </div>
</header>