<div class="section">
    <div class="row">
        <h1 id="title">Experiencia</h1>
        <app-edit-button  
            (btnClick)="edit()"
        ></app-edit-button>
    </div>
    
    <ul class="items-list">
        <li *ngFor="let experiencia of experienciaList">
            <div class="card mb-3 card_focus" style="max-width: 40rem; height: 100%">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="card mb-3 d-flex" style="max-width: 100%; height: 100%">
                            <div class="card-body">
                                <img class="logo-image" [src]="experiencia.img">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{experiencia.job}}</h5>
                            <h6 class="card-subtitle"><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></h6>
                            <p class="card-text">
                                {{experiencia.title}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>