<div class="section">
    <div class="row">
        <h1 id="title">Soft Skills</h1>
        <app-edit-button (click)="edit()"></app-edit-button>
    </div>

    <div class="skills">
        <div class="skill" *ngFor="let skills of skillsList">
            <div class="skill-name">{{skills.name}}</div>
            <div class="skill-bar">
                <div class="skill-per" [attr.per]="skills.per" [ngStyle]="{width: skills.per}">
                </div>
            </div>
        </div>
    </div>