<div class="section">
    <div class="row">
        <h1 id="title">Soft skills</h1>
        <button type="button" class="btn btn-edit"><img src="./assets/images/edit.png" alt="btn-edit"></button>
    </div>

    <p>HTML</p>
    <div class="container barra">
        <div class="skills html">90%</div>
    </div>

    <p>CSS</p>
    <div class="container barra">
        <div class="skills css">80%</div>
    </div>

    <p>JavaScript</p>
    <div class="container barra">
        <div class="skills js">65%</div>
    </div>

</div>