* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style:none
  }

  body{
    background-color: #f3d9ff;
    margin: 0;
  }
  
  .banner {
    height: 400px;
    background-image: url(./assets/images/code.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  .section {
    background-color: #fff;
    padding: 2em;
    margin-bottom: 20px;
    border-radius: 18px;
    width: 100%;
    height: auto;
  }
  
  #title {
    text-align: center;
    padding-bottom: 20px;
  }

  .btn-edit{
    position: absolute;
    right: 0;
    height: auto;
    width: 5%;
  }

  .logo-image{
    height: auto;
    width: 100%;
  }